body {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  max-width: 375px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.logo {
  color: #6070ff;
  font-size: 18px;
  font-weight: 700;
}

.Headline {
  display: flex;
  flex-direction: column;
  background-image: url(assets/header-shapes\ mobile@2x.svg);
  background-size: cover;
  background-position: center;
  background-color: white;
  padding: 114px 24px;
  gap: 12px;
}

.PrimaryText {
  font-size: 40px;
  font-weight: 800;
  margin: 0;
  color: #172b4d;
}

.PrimaryText2 {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.connect {
  color: #7f8cff;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin: 0;
}

.work-section {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  row-gap: 88px;
  padding: 114px 24px;
  align-items: center;
  justify-content: center;
  background-color: #f5f6fa;
}

.card {
  background: var(--neutrals-n-0, #fff);
  border-radius: 16px;
  border-style: solid;
  border-color: var(--neutrals-n-40, #dfe1e6);
  border-width: 1px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  /* align-items: center;
  justify-content: flex-start; */
}

.languages {
  display: flex;
  justify-content: start;
  gap: 8px;
}

.languages span {
  background-color: #dee1ff;
  padding: 5px 15px;
  border-radius: 8px;
  color: #6070ff;
}

.seeProject {
  width: fit-content;
  margin: 20px 0;
  padding: 10px 20px;
  border: solid #616fe7 1px;
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  color: #152bf5;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
}

.cardTitle h2 {
  color: #172b4d;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
}

.cardContent p {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.details {
  display: flex;
  gap: 10px;
  color: #344563;
  padding-top: 10px;
}

.details span {
  color: #344563;
}

.canopy {
  color: var(--neutrals-n-600, #344563);
  margin-top: 2px;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
}

.About {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 114px 24px;
  gap: 12px;
}

.seeresume {
  width: fit-content;
  padding: 10px 18px;
  border: solid #616fe7 1px;
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  color: #152bf5;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
}

h1 {
  font-size: 17px;
}

.greaterthan {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right {
  rotate: -90deg;
}

.about {
  margin-bottom: 10px;
}

.social {
  width: 170px;
}

.lang-div {
  margin: 10px;
  background-color: #f7f7f9;
  border-radius: 0.6rem;
  padding: 1rem 1.625rem 1rem 0.75rem;
  display: flex;
  align-items: center;
  gap: 8px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  padding: 114px 24px;
  background-color: #152bf5;
  border-radius: 100px 0;
  background-image: url('./assets/contactmobile.png');
}

.form-title {
  font-size: 40px;
  color: #fff;
  text-align: center;
}

.form-dis {
  font-size: 20px;
  color: #ebebff;
  text-align: center;
}